{% extends 'base.html' %}
<!-- this is the favorites page. It displays the favorited shops by users 
    TODO: Connect css for home page to this-->
{% block style %}
    <style>
        <!-- Container for coffee shop profiles -->
        .coffee-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        <!-- Coffee shop profile card-->
        .coffee-card {
            width: 250px;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
            text-align: center;
            background-color: #fdfdfd;
            margin-bottom: 20px;
        }
        <!-- Styling for the profile photo of a coffeeShop-->
        .coffee-card img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
        /*Styling for the title of a coffee shop */
        .coffee-card h3 {
            font-size: 18px;
            margin: 10px 0;
            color: #333;
        }
        /*Styling for the description */
        .coffee-card p {
            font-size: 14px;
            color: #666;
            padding: 0 10px 10px;
        }
        /* Enable scrolling for coffee shops */
        .scroll-container {
            max-height: 80vh; 
            overflow-y: auto; 
            padding: 20px;
        }
        /* Styling for the title of the page */
        .title {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Title of Favorites page-->
    <div class="title">
        <h1>Your Favorite Coffee Shops</h1>
    </div>
    <!-- Scrolling container of all the favorited shops -->
    <div class="scroll-container">
        <div class="coffee-container">
            {% for coffeeShop in coffeeShops %}
                <div class="coffee-card">
                    <a href="{% url 'coffeeShop_detail' coffeeShop.pk %}">
                        <img src="{{ coffeeShop.coverPhoto.url }}" alt="{{ coffeeShop.name }}">
                        <h3>{{ coffeeShop.name }}</h3>
                        <p>{{ coffeeShop.desct|truncatewords:20}}</p>
                    </a>
                </div>
            {% empty %}
                <!-- Displays this message if there are no coffee shops favorited-->
                <li>You have no favorited coffee shops yet.</li>
            {% endfor %}
        </div>
    </div>
{% endblock %}